//global setup

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	transition: padding-top .25s ease;
}
.list-inline {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
	}
}
.figure {
	img {
		max-width: 100%;
	}
}