//global setup

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #eee;
}
.list-inline {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
	}
}
.figure {
	img {
		max-width: 100%;
	}
}