<!-- template base para iniciar o desenvolvimento do site -->
<!-- Já inclui os scripts base do js e do css assim como as meta tags basicas para iniciar -->
<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	{{> organisms/org-header}}
	<main id="main">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, inventore, quia! Non culpa dolorum hic officia accusamus iste placeat provident blanditiis minus iure eos ipsam et, qui beatae expedita soluta. ipsum dolor sit amet, consectetur adipisicing elit. Optio tempore aliquam veritatis ipsa, recusandae possimus porro minus eaque ratione ducimus, nemo inventore, quos nulla veniam labore dignissimos corrupti! Velit, nobis. ipsum dolor sit amet, consectetur adipisicing elit. Qui a harum reprehenderit facere id illum aperiam, laudantium aspernatur provident. Voluptatibus pariatur adipisci totam alias. Necessitatibus soluta odit in, ad illo. ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptas harum nihil molestias facere, facilis, expedita voluptates hic sapiente aspernatur et repellendus esse possimus officia, obcaecati incidunt inventore assumenda placeat.</p>
		<p></p>
	</main>
	{{> footer-scripts}}
</body>
</html>