.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 15px;
	background-color: $dark;

	&--social {
		a {
			height: 32px;
			width: 32px;
			display: inline-block;
			padding: 5px;
			text-align: center;
			vertical-align: middle;
			border-radius: 15px;
			background-color: #ddd;

			&:hover {
				background-color: $dark-red; 
			}
			.fa {
				font-size: 22px;
				color: $black;
			}
		}
	}
}
.header {
	padding: 15px;
	position: fixed;
	top:30px;
	left: 0;
	width:100%;

}