<div class="top-bar">
	<ul class="list-inline top-bar--links">
		<li><a href="#">Sigin Up</a></li>
		<li><a href="#">Login</a></li>
		<li><a href="#">RSS Feeds</a></li>
		<li><a href="#">Archived Files</a></li>
	</ul>
	<ul class="list-inline top-bar--social">
		<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
		<li><a href="#"><span class="fa fa-twitter"></span></a></li>
		<li><a href="#"><span class="fa fa-pinterest"></span></a></li>
		<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
		<li><a href="#"><span class="fa fa-rss"></span></a></li>
	</ul>
	<div class="toggle"><span></span></div>
</div>
<header class="header">
	<div class="header--menu">
		<ul class="list-inline">
			<li><a href="#">Homepage</a></li>
			<li><a href="#">styleDemo</a></li>
			<li><a href="#">Full Width</a></li>
			<li><a href="#">Dropdown</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Link Text</a></li>
			<li><a href="#">Long Link Text</a></li>
		</ul>
		<div class="header--logo">
			<h2 class="header--title">NobodysFool</h2>
			<h3 class="header--subtitle">Free PSD Website Template</h3>
		</div>
		<div class="header--search">
			<input type="text">
			<button>Search</button>
		</div>
	</div>
</header>